%header
  %nav.navbar.navbar-inverse.navbar-static-top
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-left{:href => "/"}
          %img{src: "#{image_path('logo.png')}", alt: "Monolist"}
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          - if logged_in?
            %li
              = link_to new_item_path do
                %span.glyphicon.glyphicon-plus{"aria-hidden" => true} アイテムを追加
            %li.dropdown
              = link_to '#', class: 'dropdown-toggle', data: {toggle: "dropdown", role: "button", "aria-haspopup" => true, "aria-expanded" => false} do
                %span.gravatar
                  %img{src: "#{gravatar_url(current_user, size: 20)}", alt: "", class: "img-circle"}
                = current_user.name
                %span.caret
              %ul.dropdown-menu
                %li= link_to 'マイページ', user_path(current_user)
                %li.divider{role: "separator"}
                %li= link_to 'ログアウト', logout_path, method: :delete
          - else
            %li= link_to '新規登録', signup_path
            %li= link_to 'ログイン', login_path
